* {
    /* border: 1px solid; */
    margin: 0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

body {
    background-image: url('https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: 2000px;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    background-color: rgb(143, 159, 189);
    font-family: 'Noto Sans', sans-serif;
    color:rgb(70, 70, 70);
}

/*MAIN APP*/
#app {
    width: 430px;
    height: 550px;
    margin: 70px auto;
    text-align: center;
    background-color:white;
    border-radius: 20px;
    padding:20px;
}

.headline {
    font-size: 32px;
    margin: 25px 0 0 0;
    text-shadow: 0px 0px 5px rgb(238, 186, 255);
    color: rgb(250, 114, 159);
}

.entry {
    font-size: 18px;
    margin: 20px auto;
    box-shadow: 0px 0px 4px 1px rgba(153, 153, 153, 0.719);
    width: 300px;
    padding-top: 15px

}

#entryHolder {
    text-align: left;
    padding: 15px;
    font-size: 16px;
}

/*FORM*/
#zip {
    border: .5px solid rgb(187, 187, 187);
    width: 290px;
    height: 30px;
    margin: 15px 0;
    padding-left: 10px;
    font-size: 16px;
    color:rgb(91, 91, 91);
}

#feelings {
    border: .5px solid rgb(187, 187, 187);
    width: 290px;
    height: 150px;
    margin-bottom: 15px;
    padding: 10px 0 0 10px;
    font-size: 16px;
    color:rgb(91, 91, 91);
}

button {
    width: 300px;
    height: 35px;
    font-size: 15px;
    background-color: #ED85A7;
    color:white;
}


header, footer {
    height:30px;
    width:100%;
    background-color:white;
}